@media screen and (min-width: 801px) {

    .order-form {

    }

    .order-form-wrap {
        border-right: 1px solid #dfdfdf;
        padding: 38px;
        max-width: 660px;
    }

    .order-form-container {

    }

    .mobile-review-order-button {
        display: none;
    }

    .review-order-button {
        display: block;
    }

    .mobile-form-split-line {
        display: none;
    }

    .confirmation-row{
        height: 700px;
    }

    .confirmation-container{
        width: 660px;
        padding:38px;
        border-right: 1px solid #dfdfdf;
    }

}

@media screen and (max-width: 800px) {
    .order-options {
        flex-direction: column;
    }

    .order-form {
        display: flex;
        justify-content: center;
    }

    .order-form-wrap {
        padding: 15px 30px;
    }

    .order-form-container {
        display: flex;
        justify-content: center;
    }

    .mobile-review-order-button {
        display: block;
    }

    .review-order-button {
        display: none;
    }

    .product-buy {
        width: 100%;
        align-items: center;

    }

    .mobile-form-split-line {
        display: block;
    }

    .mobile-review-button-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px 30px;
    }

    .confirmation-row{
        flex-direction: column;
    }
    .confirmation-container{

        padding: 15px 30px;
    }

    .mobile-pay-button-container{
        padding: 0 30px 30px 30px;
    }
}


.order-form-wrap {
    position: relative;


    width: 100%;

}

.order-form-form {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}


.order-options {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
}

.form-split-line {
    border: none; /* Убираем стандартную границу */
    height: 1px; /* Высота линии */
    background-color: #dfdfdf; /* Цвет линии */
    width: 100%;
    margin-top: 10px;
}

.mobile-form-split-line {
    border: none; /* Убираем стандартную границу */
    height: 1px; /* Высота линии */
    background-color: #dfdfdf; /* Цвет линии */
    width: 100%;
}


.review-order-button {
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: #197bbd;
    border-radius: 5px;
    width: 100%;
    height: 60px;
}


.review-order-button:hover {
    opacity: 0.8;
}


.mobile-review-order-button {
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: #197bbd;
    border-radius: 5px;
    width: 330px;
    height: 60px;
}

.confirm-order-button{
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: #197bbd;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    margin-top: 32px;
}

.confirm-order-button:hover{
    opacity: 0.7;
}

.product-buy {
    position: relative;
    display: flex;
    justify-content: center;
}

.confirmation-row{
    margin-top: 86px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.order-page-header{
    display: flex;
    justify-content: center;
    padding: 21px 30px;
    border-bottom: 1px solid #dfdfdf;
}


